<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sed deserunt tenetur commodi et corrupti molestias mollitia porro ullam aperiam ipsum, officiis in totam! Earum hic dolor illum modi similique!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sed deserunt tenetur commodi et corrupti molestias mollitia porro ullam aperiam ipsum, officiis in totam! Earum hic dolor illum modi similique!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sed deserunt tenetur commodi et corrupti molestias mollitia porro ullam aperiam ipsum, officiis in totam! Earum hic dolor illum modi similique!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>